body {
	font-family: 'Open sans', sans-serif;
	width: 100vw;
	height: 100vh;
}
.file-upload {
	background-color: #ffffff;
	width: 30vw;
	margin: 0 auto;
	padding: 20px;
}
.icon{
	margin: 2vw 0 0 0;
}
.file-upload-btn {
  	width: 100%;
    margin: 0;
    color: #fff;
    background: #EF5660;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #fb303d;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1.5vw 0 0 0;
}

.file-upload-btn:hover {
	background: #ff3a47;
	color: #ffffff;
	transition: all .2s ease;
	cursor: pointer;
	outline: none;
}

.file-upload-btn:active {
	border: 0;
	transition: all .2s ease;
	outline: none;
}

.file-upload-content {
	display: none;
	text-align: center;
}

.file-upload-input {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
	cursor: pointer;
}

.image-upload-wrap {
	margin-top: 20px;
	border: 4px dashed #c3c3c3;
	position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
	background-color: #d3ebef;
	border: 4px dashed #c3c3c3;
}

.image-title-wrap {
	padding: 0 15px 15px 15px;
	color: #222;
}

.drag-text {
	text-align: center;
}

.drag-text h3 {
  	font-weight: 600;
	text-transform: uppercase;
	color: #908d8d;
	margin: 2vw 0 2vw 0;
	font-size: 1.5vw;
}

.file-upload-image {
	max-height: 200px;
	max-width: 200px;
	margin: auto;
	padding: 20px;
}

.remove-image {
	width: 15vw;
    margin: 0;
    color: #fff;
    background: #ef5660;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #fb303d;
    transition: all .2s ease;
    outline: none;
    /* text-transform: uppercase; */
    font-weight: 700;
    font-size: 1vw;
}

.remove-image:hover {
	background: #ff3a47;
	color: #ffffff;
	transition: all .2s ease;
	cursor: pointer;
}

.remove-image:active {
	border: 0;
	transition: all .2s ease;
}